{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "vendorPrefixes": false,
                    "plugins": [
                        [
                            "@styled-jsx/plugin-sass",
                            "styled-jsx-plugin-postcss",
                            {
                                "path": "./postcss.config.js"
                            }
                        ]
                    ]
                }
            }
        ]
    ]
}