node_modules
.env
.env.build
.next
.now
out
coverage
.vercel
yarn-error.log
.lighthouseci
playwright-report
test-results
tsconfig.tsbuildinfo

# yarn v4
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
