$wrapperWidth: 1440px;
$desktopWidth: 1280px;
$phabletWidth: 1023px;
$tabletWidth: 767px;
$mobileWidth: 511px;

@mixin mq ($smallerValue, $biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
        @content;
    }
}

@mixin mqHeight ($smallerValue, $biggerValue) {
    @media (min-height: #{$smallerValue}) and (max-height: $biggerValue) {
        @content;
    }
}

@mixin wrapper {
    @media (min-width: 0) and (max-width: #{$wrapperWidth}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 0) and (max-width: #{$desktopWidth}) {
        @content;
    }
}

@mixin phablet {
    @media (min-width: 0) and (max-width: #{$phabletWidth}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 0) and (max-width: #{$tabletWidth}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 0) and (max-width: #{$mobileWidth}) {
        @content;
    }
}
