@import './reset.css';
@import './customReset.css';
@import './colors.css';
@import './typography.css';

.wrapper {
    max-width: 1440rem;
    padding: 0 40rem;
    margin: 0 auto;

    @media (max-width: 767px) {
        padding: 0 20rem;
    }
}

.genericMargins {
    padding-top: 100rem;
    padding-bottom: 100rem;

    @media (max-width: 767px) {
        padding-top: 50rem;
        padding-bottom: 50rem;
    }
}

.bodyText {
    font-size: var(--fontSizeS);
    color: var(--black);
    text-transform: none;
    font-weight: normal;
    margin-bottom: 50rem;
    text-align: center;

    &--white {
        color: var(--white);
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    @media (max-width: 511px) {
        font-size: var(--fontSizeXS);

        line-height: 1.4;

        &--white {
            color: var(--white);
        }
    }
}

.link {
    position: relative;
    color: inherit;
    cursor: pointer;
    transition: color 0.15s linear;

    &:hover {
        color: var(--pink);
    }
}

.animatedLink {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        width: 0;
        height: 2rem;
        position: absolute;
        right: 0;
        bottom: -2rem;
        background: rgba(0, 0, 0, 0.7);
        transition: width 0.3s ease-out;
    }

    &.active::before,
    &:hover::before,
    &:focus::before,
    &:active::before {
        width: 100%;
        left: 0;
        right: auto;
    }
}

.animatedLinkWhite::before {
    background: var(--white);
}

.imageOpacity {
    transition: opacity 0.1s linear;

    &:hover {
        opacity: 0.6;
    }
}
