html {
    width: 100%;
    height: 100%;
    font-size: 1px;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;

    & > * {
        min-height: 100%;
        height: 100%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}