html {
    font-family: 'Lato', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    letter-spacing: 3rem;
    color: $black;
}

body {
    font-size: 20rem;
}
