html {
    font-family: 'Lato', 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    letter-spacing: 3rem;
    color: $black;
}

body {
    font-size: 20rem;
}

@mixin fontL($textTransform: none, $fontWeight: normal) {
    font-size: 40rem;
    text-transform: $textTransform;
    font-weight: $fontWeight;
}

@mixin fontM($textTransform: none, $fontWeight: normal) {
    font-size: 24rem;
    text-transform: $textTransform;
    font-weight: $fontWeight;
}

@mixin fontS($textTransform: none, $fontWeight: normal) {
    font-size: 20rem;
    text-transform: $textTransform;
    font-weight: $fontWeight;
}

@mixin fontXS($textTransform: none, $fontWeight: normal) {
    font-size: 14rem;
    text-transform: $textTransform;
    font-weight: $fontWeight;
}
