@import 'reset';
@import 'customReset';
@import 'vars';

.wrapper {
    max-width: 1440rem;
    padding: 0 40rem;
    margin: 0 auto;

    @include tablet {
        padding: 0 20rem;
    }
}

.genericMargins {
    padding-top: 100rem;
    padding-bottom: 100rem;

    @include tablet {
        padding-top: 50rem;
        padding-bottom: 50rem;
    }
}

.bodyText {
    @include fontS;
    margin-bottom: 30rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.link {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        width: 0;
        height: 2rem;
        position: absolute;
        right: 0;
        bottom: -1rem;
        background: rgba(0, 0, 0, 0.7);
        transition: width 0.3s ease-out;
    }

    &.active::before,
    &:hover::before,
    &:focus::before,
    &:active::before {
        width: 100%;
        left: 0;
        right: auto;
    }
}
